<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Form->postLink(
                __('Delete'),
                ['action' => 'delete', $classInHolidayRequest->id],
                ['confirm' => __('Are you sure you want to delete # {0}?', $classInHolidayRequest->id)]
            )
        ?></li>
        <li><?= $this->Html->link(__('List Class In Holiday Requests'), ['action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('List Users'), ['controller' => 'Users', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New User'), ['controller' => 'Users', 'action' => 'add']) ?></li>
        <li><?= $this->Html->link(__('List Holidays'), ['controller' => 'Holidays', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New Holiday'), ['controller' => 'Holidays', 'action' => 'add']) ?></li>
    </ul>
</nav>
<div class="classInHolidayRequests form large-9 medium-8 columns content">
    <?= $this->Form->create($classInHolidayRequest) ?>
    <fieldset>
        <legend><?= __('Edit Class In Holiday Request') ?></legend>
        <?php
            echo $this->Form->input('user_id', ['options' => $users]);
            echo $this->Form->input('holiday_id', ['options' => $holidays]);
            echo $this->Form->input('expected_date');
            echo $this->Form->input('description');
            echo $this->Form->input('created_at');
            echo $this->Form->input('updated_at');
            echo $this->Form->input('deleted_at');
        ?>
    </fieldset>
    <?= $this->Form->button(__('Submit')) ?>
    <?= $this->Form->end() ?>
</div>
